<h1>{{title}}</h1>
<div>
  <input type=button [routerLink]="['/home']" routerLinkActive="active" value="Home" >
  <input type=button [routerLink]="['/about']" routerLinkActive="active" value="About" >
  <input type=button [routerLink]="['/admin']" routerLinkActive="active" value="Admin" >
  <input type=button [routerLink]="['/products']" routerLinkActive="active" value="Products" >
</div>
<div class=login >
  <input class=user type=button (click)="login()" value="{{loginLabel}}" >
  <span class=user [hidden]="user==='na'">User: {{user}}</span>
  </div>
<main>
    <router-outlet></router-outlet>
</main>
